// COLORS ================
$color-success-bg: rgba(47, 117, 236, 0.04);
$color-file-added: rgba(42, 86, 153, 0.4);
$color-mischka: #A5B1BF;
$color-success: #2F75EC;
$color-border: #EDEDED;
$color-error: #E64A19;
$color-dark: #202124;

// SIZES =================
$size-icon: .8rem;

// ANIMATION =============
$anime_standart: all .3s ease;